
@media (max-width: 1200px){



  body {
overflow-x: hidden;


}

.logo{
    font-size: 20px;
   
}
.logo img {
    width: 40px;
    height: 15px;
   
 
    
  
  }

.nav-list {
position: absolute;
top: 8vh;
right: 0;
width: 50vw;
height: 92vh;
background: #1a1c19;
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
transition: transform 0.3s ease-in;
z-index: 1000;
}


  


.nav-list li {
margin-left: 0;
opacity: 0;
font-size: 12px;

}
.nav-list li:hover{
  border-bottom: none;
  
  }


.mobile-menu {
display: block;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
  }


.nav-list.active {
transform: translateX(0);
}

nav {
    
    height: 8vh;
    max-width: 900px;
    margin: 0 auto;

    
    
    }


    article{
      height: 525px;
     width: 100%;
    background: #1a1c19 no-repeat center center;
     background-size: cover;
   
   }
  
   header {
    border-bottom: 0.5px solid #656565;
   }
    
   
  
  
  
  
  
  
  
  
      article{
        height: 900px;
       width: 100%;
      background: #1a1c19 no-repeat center center;
      background-size: cover;
     
     
     }
     
     #myself{
       max-width: 800px;
       margin: 0 auto;
       padding-top: 100px;
      position: relative;
     
     }
     #myself h1 {
  max-width: 360px;
    
    }
     
     
     #myself-div  {
      font-size: 16px;
      width: 120px;
     }
     #myself h2 {
      font-size: 34px;
     }
     #p-1{

     }


   
     
     
     #go-there{
    
      font-size: 14px;
     
     
     }
     
     
     
     #my-age{
     margin-top: 100px;
     
     
     }
     
     
     
     #my-age h4 {
     font-size: 44px;
     margin-top: -52px;
     }
     #p-age{
 font-size: 14px;
 margin-top: -35px;
 margin-left: 50px;
     
     }
     
     
     
     
     #my-ex h4 {
  font-size: 44px;
  margin-top: -65px;
  margin-left: 180px;
     }
     
     #p-ex{
      font-size: 14px;
      margin-top: -55px;
      margin-left: 212px;
     }
     #my-img{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 115px ; 
      right: 0;
      width: 400px;
      height: 400px;
    
       
     }

  #sc-flag{
      position: absolute;
      height: 20px;
      width: 30px;
      margin-left: 124px;
      margin-top: -95px;
    }
     


    


 
  
 








      #sobre-mim {
        max-width: 1200px;
        margin: 0 auto;
        
      
      
      
      }




#sobre-div {
  margin-left: 45px;
  


}
#text-sm{
  margin-left: 30px ;
  margin-top: 300px;

  
}

#text-sm h2{
  margin-left: -1px;
  
  font-size: 36px;
  
  color: #23232e;
  
  }
  #text-sm h1{
  color: #1a1c19;
  margin: 10px 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  }
  #text-sm h3{
  background-color: #1a1c19;   
  width: 280px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 25px;
  
  
  
  }
  #text-sm h2 , h1{
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  
  }
  #text-sm p{
    letter-spacing: 1px;
  font-size: 12px;
  color: #222 ;
  font-weight: 400;
  max-width: 360px;
  margin-bottom: 20px;
 
  
  }
  #sm{
    text-align: justify;
   }
  #spec {
    letter-spacing: 10px;
  
  }

  #sobre-div{
  background-color: #1a1c19;
  width: 260px;
  height: 50px;
  border-radius: 100px;
  margin-left: -0px;
  }
  
  #sobre-div i:hover{
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;

  
    
    }
  #sobre-div i {
    text-decoration: none;
  text-align: center;
  font-size: 38px;;
  margin-top: 8px;
  margin-left: 28px;
  }
  #sobre-div p {
    text-align: center;
  margin-left: 26px;
  margin-top: -39px;
  color: #f5f5f5;
  font-size: 22px;
  
  
  }



#sobre-mim {
  max-width: 923px;
  margin: 0 auto;
  margin-top: 00px;



}
#img-lado{
  margin-top: -410px;
}


.tab{
  background-color: #1a1c19 ;
  height: 125px;
  width: 462px;
margin-left: -40px;

}
.tab:hover{
 opacity: 0.85;

}
.tab h3 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
padding: 10px 35px;
font-size: 23px;
}

.tab:hover>h3{
  color: #68e5ac;
}




.tab p {
color: #cccc;
font-size: 10px;
padding-left: 35px;
margin-top: -5px;
padding-bottom: 17px;
}

.tab a{
  text-decoration: none;
  color: #f5f5f5;
  font-size: 8px;
  padding-left: 35px;
text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.tab img {
height: 35px;
width: 35px;
padding-left: 310px;
margin-top: -47px;
position: absolute;
}






















    #project  {
        max-width: 900px;
        margin: 0 auto;
        
    
    }




    #top-project h2 {
      padding-left: 20px;
        font-size: 46px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: #1a1c19;
      width: 650px;
      margin-left: 22px;
      margin-top: 400px;
      cursor: pointer;
      color: #cccfd4;
   
      
      
      
      
      
      
      }



        #footer-sec{
        max-width: 900px;
        margin: 0 auto;
        padding-top: 50px;
        
        }



        footer{
          background-color: #1a1c19;
         
          width: 100%;
          margin: 0 auto;
          
        }




















@keyframes navLinkFade {
from {
opacity: 0;
transform: translateX(50px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;

}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5.5px, -7px);



}

}






