@media (max-width: 500px) {



    body {
  overflow-x: hidden;
  
  
  }
  
  .logo{
      font-size: 20px;
     
  }
  .logo img {
      width: 40px;
      height: 15px;
     
   
      
    
    }
  
  .nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 50vw;
  height: 92vh;
  background-color: #1a1c19;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  }
  
  
    
  
  
  .nav-list li {
  margin-left: 0;
  opacity: 0;
  font-size: 12px;
  
  }
  .nav-list li:hover{
    border-bottom: none;
    
    }
  
  
  .mobile-menu {
  display: block;
  }
  .mobile-menu div {
    width: 20px;
    height: 1px;
    background: #fff;
    margin: 4px;
    transition: 0.3s;
    }
  
  
  .nav-list.active {
  transform: translateX(0);
  }
  
  nav {
  
      height: 8vh;
      max-width: 800px;
      margin: 0 auto;
      
   
      
      }
  header{
    border: none;
    
  }
  
      
      
       
  
  
  
      article{
        height: 395px;
       width: 100%;
       background: #1a1c19 no-repeat center center;
       background-size: cover;
     


     }



    
  

      #myself{
        max-width: 270px;
        margin: 0 auto;
        padding-top: 40px;
       position: relative;
    
      
      }
      
      
      #myself-div  {
        background-color: #68e5ac;
        width: 100px;
      text-align: center; 
      font-size: 11px; 
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 3px;
      margin-left: 5px;
  
      
      
      }
      #myself h1 {
        color: #f5f5f5;
        margin-top: 18px;
        margin-left: 5px;
      max-width: 120px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 14px;
      
      }
      #p-1{
        color: #cccc;
      max-width: 100px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 5px;
      font-size: 10px;
      
      }
      
      
      #go-there{
        color: #68e5ac;
      font-size: 7px;
      text-transform: uppercase;
  margin-left: 5px;
      }
      
      
      
      #my-age{
       margin-top: 150px;
      margin-left: 5px;
      }
      
      
      
      #my-age h4 {
        color: #f5f5f5;
        font-size: 25px;
        margin-top: -27px ;
      }
      #p-age{
        color: #cccc;
        max-width: 50px;
        font-size: 7px;
      margin-left: 29px;
      margin-top: -122px;
      
      }
      
      
      #my-ex{
        margin-top: 73.5px;
        
      }
      
      #my-ex h4 {
        color: #f5f5f5;
        font-size: 25px;
        margin-left: 76px;
       margin-top: -111.5px;
      }
      
      #p-ex{
        color: #cccc;
        max-width: 50px;
        font-size: 7px;
      margin-left: 94px;
      margin-top: -31px;
      
      }
      #my-img{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 35px ; 
        right: 0px;
        width: 140px;
        height: 140px;
      
   
        
      }
      
      #sc-flag{
        position: absolute;
        height: 12px;
        width: 18px;
        margin-left: 62px;
        margin-top: -33px;
      }

  
  




  #sobre-div {
   
display: none;
  }
  
  #sobre-mim {
    max-width: 370px;
    margin: 0 auto;
 
  }

#text-sm {
margin-left: 1%;

margin-top: 200px;
}


#text-sm p{
  
  max-width: 350px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 10px;
  }
  #sm{
    text-align: justify;
   }
  #spec {
    letter-spacing: 4px;
  
  }




  
#text-sm h2{
  font-size: 34px;
  
  }

  #text-sm h3{
width: 230px;
  font-size: 12px;

  
  
  
  }
  #text-sm h2 , h1{
 font-size: 30px;
  }

      #img-lado {
        height: 400px;
        width: 400px;
     margin-top: 30px;
    margin-left: 0px;
      }










.tab{
  background-color: #1a1c19 ;
  height: 100px;
  width: 360px;
margin-left: 5px;

}
.tab:hover{


}
.tab h3 {
  font-size: 18px ;
}



.tab p {
  font-size: 8px ;
  padding-bottom: 11px;
}

.tab a{
  font-size: 8px;
}

.tab img {
  height: 30px;
  width: 30px;
  padding-left: 225px;
  margin-top: -40px;
  position: absolute;
 
}












 

















#load-more{
  margin-top: 20px;
  padding:13px 30px;
  border:1px solid #334;
 
  
  cursor: pointer;
}

  .container{
    max-width: 400px;
    margin: 0 auto;
margin-left: -10px;

  }


  #project  {
    max-width: 368px;
    margin: 0 auto;
    

}


#top-project h2 {
  padding-left: 10px;
    font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #1a1c19;
  width: 250px;
  margin-left: 10px;
  margin-top: 400px;
  cursor: pointer;
  color: #cccfd4;

  
  
}
  
  
  











footer{
 
}



      #footer-sec{
          
          margin: 0 auto;
          padding-top: 30px;
          
          }

         
  
  
#footer-sec h2 {
  font-size: 18px;

}

#footer-sec ul {
  gap: 30px;
}
#footer-sec li {
  
}
#footer-sec a {
 color: #f5f5f5;
 font-weight: 300;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 12px;
}




#footer-img {



}



#footer-img img {
  height: 45px;
  width: 45px;

}

  
  
  
  
  
  
  
  
  
  
  